<!DOCTYPE html>
<html>
<head>
    <title>Programação para Internet</title>
    <meta charset="utf-8" />
</head>
<body>
    <% var teste = 0; %>
    <p>Apenas um texto</p>
    <%= teste %>

    <% if(exibirDiv) { %>
        <div>Apenas uma div TRUE</div>
    <% } else { %>
        <div>Apenas outra div FALSE</div>
    <% } %>
        
</body>
</html>